body{
    margin: 0;
    padding: 0;
    background: rgb(54, 54, 54);
}
#top{
    background: rgb(0, 21, 255);
    padding: 0 10px;
    color: rgb(255, 157, 0);
}
.wishes{
    width: 100%;
    height: 90vh;
}
.wishes .image{
    width:40%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 93%;
    margin: 20px;
}
.wishes .image button{
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: rgba(76, 76, 76, 0.431);
}
.wishes .image img{
    max-width: 100%;
    border-radius: 2px;
    max-height: 90%;
    box-shadow: 0 0 10px 1px rgb(255, 0, 221);
}
.wishes .wish{
    max-width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishes .wish h3{
    margin: 5%;
    text-align: center;
    font-size: 25px;
    color: rgb(199, 199, 199);
} 
.comments{
    margin: 10px;
    flex-direction: column;
}
.comments form{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgb(0, 255, 221);
    border-radius: 5px;
}
.comments form, .comments{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comments form input, .comments form button{
    font-size: 14px;
    padding: 6px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
}
.comments form button{
    margin: 0 10px;
    background: linear-gradient(90deg, rgb(184, 201, 0), rgb(222, 96, 0));

}
.wish-list{
    padding: 15px;
    margin: 5px;
    background: rgb(79, 79, 79);
}
.wish-list h1{
    color: rgb(245, 172, 37);
}
@media(max-width: 800px){
    .wishes .wish{
        min-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .wishes .image{
        width: 100%;
        height: 90%;
        margin: 10px 0;
        margin-top: 20px;
    }
}
@media(max-width: 430px){
    .wishes .image{
        width: 90%;
        height: auto;
        margin: 5%;
    }
    .wishes .wish h3{
        font-size: 20px;
    }
}